<div class="container">
	<h3 class="mb-3">Video Jots</h3>
	{{#if videos}}
	<div>
		{{#each videos}}
		<div class="card mb-2 w-100 mx-auto">
			<div class="card-header">
				<h5 class="card-title">{{title}}</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-2">
						<a href="{{posterURL}}" data-title="{{title}}" data-toggle="lightbox">
							<img src="{{posterURL}}" alt="Poster" class="img-thumbnail img-fluid mb-2"
								onerror="this.src='/img/no-image.jpg'" style="max-height:160px">
						</a>
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-3">
								<p class="font-italic">Subtitles</p>
								<p class="text-info">
									{{replaceCommas subtitles}}
								</p>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-3">
								<p class="font-italic">Language</p>
								<p class="text-info">
									{{replaceCommas language}}
								</p>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-3">
								<p class="font-italic">Classification</p>
								<p class="text-info">{{classification}}</p>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-3">
								<p class="font-italic">Date Release</p>
								<p class="text-info">{{formatDate dateRelease 'DD MMM YYYY'}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<p class="font-italic">Starring</p>
								<p class="text-info">{{starring}}</p>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<a href="/video/editVideo/{{id}}" class="btn btn-outline-primary">
							<i class="fas fa-pencil-alt me-1"></i>
							Edit
						</a>
					</div>
				</div>
			</div>

			<div class="accordion" id="myAccordion">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseOne{{id}}" aria-expanded="false" aria-controls="collapseOne{{id}}">
							Story
						</button>
					</h2>
					<div id="collapseOne{{id}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
						data-bs-parent="#myAccordion">
						<div class="accordion-body">
							{{story}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	{{else}}
	<div>
		No videos jotted
	</div>
	{{/if}}
</div>